body{
    margin: 0;
    height: 100%;
}

header{
    margin-right: 180px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    height: 380px;
}
.subsection1, .subsection2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 100px;
}

.container{
    width: 320px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 200px;
    width: 350px;
}

ul{
    display: flex;
    gap: 12px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}


button{
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

.subsection2 h1, p{
    margin: 5px 0px;
}

.subsection2 p{
    font-size: 13px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.containers{
    display: flex;
    gap: 40px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #535962;
}

.box1, .box2, .box3, .box4{
    height: 100px;
    width: 100px;
    border: solid #3882f6 3px;
    border-radius: 10px;
}

.box1 img, .box2 img, .box3 img, .box4 img{
    border-radius: 7px;
    height: 100px;
    width: 100px;
}

container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    text-align: center;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 280px;
}

.quote p{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #535962;
    max-width: 570px;
    text-align: left;
}

.author{
    width: 500px;
    text-align: end;
}

.author p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section4{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 75%;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.align{
    display: flex;
    flex-direction: column;
}

h4{
    margin: 0 0;
}

.blue button{
    border: solid #f9faf8 2px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 50px;
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}